*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    overflow-y: hidden;
}
section{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    flex: none;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -2;
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0, 0, 0.6);
    z-index: -1;
}
section:nth-child(2){
    height: 100vh;
    width: 100%;
}
section:nth-child(3){
    height: 100vh;
    width: 100%;
}
h1{
   position: absolute;
    transform: rotate(270deg);
    font-size: 90px;
    color: white;
    text-transform: uppercase;
    right: -100px;
    top: 300px;
   
}
p{
   color: white;
   font-size: 20px;
   max-width: 600px;
   font-weight: bold;
}

button{
    position: fixed;
    top: 100px;
    left: -2px;
    height: 40px;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 10;
    
}
#page2{
  width: 300px;
  background-color: black;
  color: white;
  border: 2px solid white ;
  
}

#page2:hover{
    background-color: rgb(31, 29, 29);
}
#page3{
    top: 150px;
    width: 250px;
    background-color: red;
    border: 2px solid rgb(255, 255, 255) ;
}
#page3:hover{
    background-color: rgb(207, 32, 32);
}